.auth-container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    padding: 2rem;
    border-radius: 16px;
    width: 25%;
    color: white;
    text-align: center;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    border:none;
    border-radius: 8px;
    font-size: 16px;
   
}

.button-group{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group button {
    padding: 0.6rem 1rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

