.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c50c7;
    padding: 10px 20px;
    color: white;
}
.navbar-left{
    display: flex;
    align-items: center;
}
.search-icon{
    margin-right: 10px;
    color: white;
}
.search-input{
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    width: 250px;
    outline: none;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.menu-icon{
    display: flex;
}